<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
  <meta name="keywords" content="手机移动开发,HTML5开发,lily博客,前端开发">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" >
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link rel="stylesheet" href="{{ "/css/default.css" | prepend: site.baseurl }}">
  <link rel="icon" href="{{"/asset/img/title_logo.PNG"}}" type="img/gif" >
  <link rel="icon" href="{{"/favicon.ico"}}" type="image/x-icon" >
  <link rel="stylesheet" href="{{ "/asset/css/base.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/asset/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
